{% extends "base.html" %}

{% block content %}
<div class="flex flex-col flex-grow h-full">
    <!-- row one -->
    <div class="flex flex-col items-center justify-center align-center space-y-8 w-full h-1/2">
        <p class="text-5xl font-extrabold text-gray-800 w-5/12 py-6">
            Plan the Ultimate Trip to Unversal Orlando Resort!
        </p>
        <p class="text-2xl text-gray-500 w-5/12">SmartPark Planner is your personalized guide to crafting the perfect theme park experience.
             Whether you're with family or friends, our tool helps you optimize your day with tailored 
             itineraries that accommodate everyone's preferences. Say goodbye to long waits and missed 
             attractions—plan smarter, enjoy more.</p>
    </div> 

    <!-- row two -->
    <div class="flex flex-col items-center justify-around w-full h-1/2">
            <a href="/startChat" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center inline-flex items-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
                Get Started
                <svg class="rtl:rotate-180 w-3.5 h-3.5 ms-2" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 10">
                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 5h12m0 0L9 1m4 4L9 9"/>
                </svg>
            </a>
        <p class="text-sm text-gray-500 w-5/12">
            SmartPark Planner is not affiliated with, endorsed by, or sponsored by Universal Orlando Resort. This tool is independently
             created to enhance the theme park experience and is not an official product of Universal Parks & Destinations.
        </p>
    </div>
</div>

{% endblock %}