<html>
    <head>
        <title>Main page</title>
        <link rel="stylesheet" href="{{url_for('static',filename='dist/css/output.css')}}">
        <script src="https://cdn.jsdelivr.net/npm/flowbite@2.5.2/dist/flowbite.min.js"></script>
    </head>
    <body>
        <h1 class="text-blue-600">Hello, World! This is from index and it works in debug mode</h1>
    </body>
</html>

<!-- need to get guest info for age, height, interests
 age options
 under 10
 under 16
 under 21

 height options depends on ride heights for kids rides vs adult rides

 interest options stuff in each park like dream works interests or simpsons or men in black stuff like that and they should be able to add as many of these as they want
  -->